.advertisement {
  background-color: #EAEAEA;
  padding: 25px 0 40px;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border-top: 1px solid #E6E6E6;
    padding: 43px 0 56px;

    background-image: linear-gradient(to top, #EAEAEA 40%, transparent 40%);
  }
}

.advertisement__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}

.advertisement__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.advertisement__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.advertisement__data-item:nth-child(3) {
  width: 100%;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin-top: 34px;

  @media (min-width: $tablet-width) {
    width: 170px;
    text-align: right;
    margin: 0;
    margin-left: auto;
    span {
      display: block;
    }
  }
}

.advertisement__data-item:nth-child(1) {
  margin-right: 32px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
  }
}

.advertisement__data-item:nth-child(1), .advertisement__data-item:nth-child(2) {
  border: 1px solid $special_grey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  padding: 14px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding: 15px 20px 20px;
  }

  span:nth-child(1) {
    margin: 0 auto;
    font-size: 24px;
    line-height: 24px;
    color: $black;
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  span:nth-child(2) {
    font-size: 12px;
    line-height: 12px;
    background-color: #EAEAEA;
    width: 87px;
    box-sizing: border-box;
    padding: 0 14px;
    margin: 0 auto;
    margin-bottom: -28px;
    text-align: center;

    @media (min-width: $tablet-width) {
      background-color: $white;
      font-size: 14px;
      line-height: 14px;
      width: 120px;
      padding: 0 10px;
      margin-bottom: -26px;
    }
  }
}



.advertisement__toggler-image {
  display: flex;
  img {
    margin: 0 auto;
  }
}

.advertisement__toggler-image--none {
  display: none;
}

.advertisement__toggler-box {
  margin-bottom: 15px;
}



.advertisement__toggler-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement__toggler-range-text {
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.advertisement__toggler-range-button {
  display: flex;
  align-items: center;
  border: 1px solid $special_grey;
  border-radius: 6px;
  height: 14px;
  width: 85px;
  background-color: $white;
  margin: 0 15px;
  box-sizing: border-box;
  padding: 4px 6px;

  &::after {
    content: '';
    display: block;
    width: 35px;
    height: 6px;
    border-radius: 6px;
    background-color: $basic_green;
  }
}

.advertisement__toggler-range-button--after {
  &::after {
    content: '';
    margin-left: auto;
  }
}
