.button {
  text-decoration: none;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: $basic_green;
  padding: 7px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

.button--big {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

.button--grey {
  background-color: $basic_grey;
  color: $special_dark-grey;
}
