.form__box {
  display: flex;
  flex-direction: column;

  &:nth-child(1) {
    margin: 0 -20px;
    padding: 0 20px 24px;
    border-bottom: 1px solid #D9D9D9;
  }

  &:nth-child(2) {
    margin: 0 -20px;
    padding: 22px 20px 20px;
    border-bottom: 1px solid #D9D9D9;
  }

  &:nth-child(3) {
    padding-top: 24px;
  }

  &:nth-child(4) {
    padding-top: 24px;
  }

  &:nth-child(5) {
    padding-top: 24px;
    padding-bottom: 34px;
  }
}

.form__box-decor {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 2px;
    background-color: $basic_green;
    position: absolute;
    left: 0;
    top: 39px;
    right: -20px;
    z-index: 1;
  }
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__name {
  font-size: 16px;
  text-transform: uppercase;
}

.form__input {
  border: 1px solid #E7E7E7;
  padding: 13px 15px;
  font-size: 16px;
  color: $special_dark-grey;
  margin-left: 12px;
  box-sizing: border-box;
  flex-grow: 1;
}

.form__radio {
  display: none;
}

.form__radio-decor {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special_grey;
    margin-right: 16px;
  }

  &::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $basic_green;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }
}

.form__radio:checked+.form__radio-decor::after {
  display: block;
}

.form__group {
  border: none;
  padding: 0 20px;
  margin: 0 -20px;
}

.form__group-title {
  font-size: 24px;
  line-height: 26px;
  color: $black;
  max-width: 190px;
  margin-bottom: 35px;
  padding: 0;
  background-color: $white;
  position: relative;
  z-index: 2;
  padding-right: 22px;
}

.form__textarea {
  width: 100%;
  height: 150px;
  border: 1px solid $special_grey;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
  color: $special_dark-grey;
  font-size: 16px;
}

.form__textarea::placeholder {
  text-transform: uppercase;
  color: $special_dark-grey;
  font-size: 15px;
}

.form__checkbox {
  display: none;
}

.form__checkbox-decor {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $special_grey;
    margin-right: 16px;
  }

  &::after {
    content: '';
    display: block;
    width: 18px;
    height: 14px;
    background-image: url("/img/icons/ok.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 6.5px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }
}

.form__checkbox:checked+.form__checkbox-decor::after {
  display: block;
}

.form__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}

.form__notice {
  text-align: center;
  margin-top: 21px;
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
}

.form__input[type="email"] {
  background-image: url("/img/icons/icon-email.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  padding-right: 40px;
}


.form__input[type="number"] {
  background-image: url("/img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  padding-right: 40px;
}
