.main-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
  }
}

.main-logo__image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }
}

.main-logo__name {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
