@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button,
input,
select,
textarea,
fieldset,
legend {
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

.advertisement {
  background-color: #EAEAEA;
  padding: 25px 0 40px;
}

.advertisement__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
}

.advertisement__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.advertisement__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.advertisement__data-item:nth-child(3) {
  width: 100%;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 34px;
}

.advertisement__data-item:nth-child(1) {
  margin-right: 32px;
}

.advertisement__data-item:nth-child(1), .advertisement__data-item:nth-child(2) {
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 124px;
  padding: 14px;
  box-sizing: border-box;
}
.advertisement__data-item:nth-child(1) span:nth-child(1), .advertisement__data-item:nth-child(2) span:nth-child(1) {
  margin: 0 auto;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 7px;
}
.advertisement__data-item:nth-child(1) span:nth-child(2), .advertisement__data-item:nth-child(2) span:nth-child(2) {
  font-size: 12px;
  line-height: 12px;
  background-color: #EAEAEA;
  width: 87px;
  box-sizing: border-box;
  padding: 0 14px;
  margin: 0 auto;
  margin-bottom: -28px;
  text-align: center;
}

.advertisement__toggler-image {
  display: flex;
}
.advertisement__toggler-image img {
  margin: 0 auto;
}

.advertisement__toggler-image--none {
  display: none;
}

.advertisement__toggler-box {
  margin-bottom: 15px;
}

.advertisement__toggler-range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertisement__toggler-range-text {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.advertisement__toggler-range-button {
  display: flex;
  align-items: center;
  border: 1px solid #CDCDCD;
  border-radius: 6px;
  height: 14px;
  width: 85px;
  background-color: #FFFFFF;
  margin: 0 15px;
  box-sizing: border-box;
  padding: 4px 6px;
}
.advertisement__toggler-range-button::after {
  content: "";
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background-color: #68B738;
}

.advertisement__toggler-range-button--after::after {
  content: "";
  margin-left: auto;
}

.button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: #68B738;
  padding: 7px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.button--big {
  font-size: 16px;
  line-height: 20px;
  padding: 10px;
}

.button--grey {
  background-color: #F2F2F2;
  color: #444444;
}

.catalog-extra {
  position: relative;
}
.catalog-extra::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #68B738;
  position: absolute;
  width: 50%;
  top: 39px;
  right: 0;
  z-index: 1;
}

.catalog-extra__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 25px 22px 36px 0;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  margin-right: 22px;
}

.catalog-extra__list {
  padding: 0;
  margin: 0;
}

.catalog-extra__item {
  list-style-type: none;
  border-top: 1px solid #CDCDCD;
  padding: 13px 0 19px;
  display: flex;
  flex-direction: column;
}
.catalog-extra__item:last-child {
  border-bottom: 1px solid #CDCDCD;
}

.catalog-extra__name {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  margin: 0;
  margin-bottom: 13px;
}

.catalog-extra__table {
  width: 100%;
  margin-bottom: 15px;
}
.catalog-extra__table tr {
  width: 100%;
}
.catalog-extra__table tr td {
  padding: 0;
  width: 50%;
}
.catalog-extra__table tr td:last-child {
  text-align: right;
}

.catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0 -20px;
  padding: 27px 20px 41px;
  border-top: 1px solid #D9D9D9;
}

.catalog__list {
  padding: 0;
  margin: 0;
}

.catalog__item {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 19px 20px 25px;
  border-top: 1px solid #EBEBEB;
}

.catalog__image {
  width: 140px;
  height: 112px;
  display: flex;
}
.catalog__image img {
  margin: 0 auto;
  margin-top: auto;
  display: block;
}

.catalog__content {
  flex-grow: 1;
}

.catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  margin: 0;
  margin-bottom: 18px;
  max-width: 80px;
}

.catalog__table td {
  padding: 1px 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
}

.catalog__button {
  width: 100%;
  margin-top: 13px;
}

.catalog__item-more {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 25px 20px 25px;
  border-bottom: 1px solid #EBEBEB;
}
.catalog__item-more img {
  margin-bottom: 23px;
}
.catalog__item-more .catalog__item-title {
  max-width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
  color: #111111;
}
.catalog__item-more .catalog__item-text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog__item-more .catalog__button {
  margin-top: 0;
}

.commercial {
  background-image: url("../img/comercial-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0;
}

.commercial__icon {
  width: 78px;
  height: 80px;
  background-image: url("../img/icons/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 58px;
}

.commercial__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  margin-top: 48px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 165px;
  text-align: center;
}

.contacts__address {
  display: flex;
  align-items: center;
  padding: 26px 20px;
  margin: 0 -20px;
}

.contacts__address-title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding-right: 10px;
}

.contacts__address-text {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.contacts__map {
  margin: 0 -20px;
}
.contacts__map img {
  display: block;
  object-fit: cover;
}

.contacts--grey {
  background-color: #F2F2F2;
}

.features {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.features__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  font-weight: 400;
}

.features__item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.features__item:last-child {
  margin-bottom: 0;
}

.features__item-image {
  width: 60px;
  height: 60px;
  background-color: #68B738;
  margin-right: 20px;
  flex-shrink: 0;
  display: flex;
}
.features__item-image img {
  margin: auto;
}

.features__text {
  margin: 0;
}

.footer {
  background-color: #F2F2F2;
  padding: 22px 0;
}

.footer__secondary-logo {
  padding: 17px 76px 32px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
}

.footer__social {
  padding: 20px;
  border-bottom: 1px solid #D9D9D9;
}

.footer__implementer-logo {
  padding-top: 22px;
  justify-content: space-between;
}

.form__box {
  display: flex;
  flex-direction: column;
}
.form__box:nth-child(1) {
  margin: 0 -20px;
  padding: 0 20px 24px;
  border-bottom: 1px solid #D9D9D9;
}
.form__box:nth-child(2) {
  margin: 0 -20px;
  padding: 22px 20px 20px;
  border-bottom: 1px solid #D9D9D9;
}
.form__box:nth-child(3) {
  padding-top: 24px;
}
.form__box:nth-child(4) {
  padding-top: 24px;
}
.form__box:nth-child(5) {
  padding-top: 24px;
  padding-bottom: 34px;
}

.form__box-decor {
  position: relative;
}
.form__box-decor::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #68B738;
  position: absolute;
  left: 0;
  top: 39px;
  right: -20px;
  z-index: 1;
}

.form__label {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.form__label:last-child {
  margin-bottom: 0;
}

.form__name {
  font-size: 16px;
  text-transform: uppercase;
}

.form__input {
  border: 1px solid #E7E7E7;
  padding: 13px 15px;
  font-size: 16px;
  color: #444444;
  margin-left: 12px;
  box-sizing: border-box;
  flex-grow: 1;
}

.form__radio {
  display: none;
}

.form__radio-decor {
  position: relative;
  display: flex;
  align-items: center;
}
.form__radio-decor::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #CDCDCD;
  margin-right: 16px;
}
.form__radio-decor::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #68B738;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.form__radio:checked + .form__radio-decor::after {
  display: block;
}

.form__group {
  border: none;
  padding: 0 20px;
  margin: 0 -20px;
}

.form__group-title {
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  max-width: 190px;
  margin-bottom: 35px;
  padding: 0;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  padding-right: 22px;
}

.form__textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #CDCDCD;
  padding: 9px 12px 9px 15px;
  box-sizing: border-box;
  color: #444444;
  font-size: 16px;
}

.form__textarea::placeholder {
  text-transform: uppercase;
  color: #444444;
  font-size: 15px;
}

.form__checkbox {
  display: none;
}

.form__checkbox-decor {
  position: relative;
  display: flex;
  align-items: center;
}
.form__checkbox-decor::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  margin-right: 16px;
}
.form__checkbox-decor::after {
  content: "";
  display: block;
  width: 18px;
  height: 14px;
  background-image: url("../img/icons/ok.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 6.5px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.form__checkbox:checked + .form__checkbox-decor::after {
  display: block;
}

.form__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}

.form__notice {
  text-align: center;
  margin-top: 21px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.form__input[type=email] {
  background-image: url("../img/icons/icon-email.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  padding-right: 40px;
}

.form__input[type=number] {
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: right 17px center;
  padding-right: 40px;
}

.implementer-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.implementer-logo__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.main-header {
  padding: 10px 0 17px;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.main-logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.main-logo__name {
  margin: 0 auto;
}

.main-nav__toggle {
  font-size: 0;
  line-height: 0;
  width: 24px;
  height: 16px;
  background-image: url("../img/icons/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: block;
  padding: 0;
  background-color: transparent;
}

.main-nav__list {
  position: absolute;
  left: -20px;
  right: -20px;
  top: 54px;
  padding: 0;
  margin: 0;
  z-index: 9;
  border-bottom: 1px solid #E6E6E6;
  display: none;
}

.main-nav__item {
  list-style-type: none;
  width: 100%;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  box-sizing: border-box;
  width: 100%;
  padding: 22px 20px 24px;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #E6E6E6;
}

.main-nav.active .main-nav__list {
  display: block;
}
.main-nav.active .main-nav__toggle {
  background-image: url("../img/icons/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.main {
  flex-grow: 1;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  font-family: "oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  position: relative;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.program__title {
  margin: 0 -20px;
  margin-bottom: 37px;
  padding: 0 20px;
  padding-top: 27px;
  border-top: 1px solid #D9D9D9;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}

.program__text {
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
  color: #000000;
  max-width: 270px;
}

.promo {
  margin-bottom: 20px;
}

.promo__item {
  list-style-type: none;
  background-color: #F2F2F2;
  padding: 30px 20px 18px;
  margin-bottom: 20px;
}
.promo__item:last-child {
  margin-bottom: 0;
}

.promo__title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  padding-left: 71px;
  position: relative;
}

.promo__item:nth-child(1) .promo__title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  width: 50px;
  height: 53px;
  background-image: url("../img/icons/cat-back-slim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.promo__item:nth-child(2) .promo__title::before {
  content: "";
  display: block;
  position: absolute;
  left: -7px;
  top: -6px;
  width: 67px;
  height: 50px;
  background-image: url("../img/icons/cat-back-pro.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.promo__text {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 23px;
  border-bottom: 2px solid #D9D9D9;
}

.promo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  padding: 4px 0;
}
.promo__link::after {
  content: "";
  display: block;
  width: 24px;
  height: 12px;
  background-image: url("../img/icons/link-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  list-style-type: none;
}
.social__item:nth-child(2) {
  margin-left: 36px;
  margin-right: 33px;
}

.top-section {
  position: relative;
  margin-bottom: 20px;
}

.top-section__content {
  position: relative;
  padding: 27px 20px;
  min-height: 480px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 -20px;
  display: flex;
  flex-direction: column;
}
.top-section__content::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 302px;
  background-image: url("../img/index-bg-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-section__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.top-section__text {
  margin: 0;
  text-transform: uppercase;
}

.top-section__button {
  margin-top: auto;
}

.top-section__decoration {
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */